body{
  background-image: url("../floresta.jpg");
  background-size:     100%;
  background-repeat:   no-repeat;
  background-position: center center;
}
.figura{
  height:4vh;
  margin:0.3vh;
  border-radius: 50%;
}
.figura:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#titulo{
  font-family: 'Homemade Apple', cursive;
  font-size: 3vh;
  font-weight: bold;
  text-shadow: 2px 2px rgb(210,105,30);
}
#tituloFooter{
  font-family: 'Homemade Apple', cursive;
  text-shadow: 2px 2px rgb(210,105,30);
  font-weight: bold;
}
@media (max-width: 600px){
  #titulo{
    font-size:2vh;
  }
  .figura{

  }

}
