body{
  background-image: url("../floresta.jpg");
  background-size:     100%;                      
  background-repeat:   no-repeat;
  background-position: center center;
}
#titulo{
  font-family: 'Homemade Apple', cursive;
  font-size: 3vh;
  font-weight: bold;
  text-shadow: 2px 2px rgb(210,105,30);
}
#tituloFooter{
  font-family: 'Homemade Apple', cursive;
  text-shadow: 2px 2px rgb(210,105,30);
}
@media (max-width: 600px){
  #titulo{
    font-size:2vh;
  }

}
